body{
    background-color:whitesmoke;
}
.navbar-container li{
    display:inline;
    padding:50px;
}
.navbar-container{
    background-color: #2c2c2c;
    color:whitesmoke;
    padding:20px;
    padding-left: 240px;
}
.navbar-container li:hover{
    font-weight: bold;
    color:white;
}
a{
  text-decoration: none;
  color:whitesmoke
}
header{
  margin:-10px;
}
article{
    position: relative;
    top:13px;
}
section
{
  position: relative;
  top:40px;
}
center{
  text-decoration: underline ;
  font-size: 30px;
  text-decoration-color:#17a2b8;
}
aside{
  position:fixed;
  top:40%;
  background-color:hsla(188, 78%, 41%, 0.885);
  color:whitesmoke;
  padding:10px;
  padding-right:70px;
  margin-left:-10px;
  border:2px solid hsla(188, 78%, 41%, 0.481);
  border-radius:5px;
  box-shadow: 2px 3px hsla(0, 0%, 17%, 0.5);
}
.grid-container{
  position:relative;
  top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 25px;
  row-gap: 20px;
}
.grid-item{
  text-align: center;
}
button{
  background-color:#2c2c2c;
  color:whitesmoke;
  padding:8px;
  border-radius:4px;
  border-color: #2c2c2c;
}
button:hover
{
  font-weight: bold;
}
.grid-item img{
  width:150px;
  height: 250px;
}
.grid-item:hover{
  box-shadow: 5px 5px 5px 5px hsla(0, 0%, 53%, 0.378);
}
img{
  background-color: hsla(0, 0%, 17%, 0.43);
  border: 0px solid hsla(0, 0%, 17%, 0.43);
  border-radius: 4px;
}